*,
:after,
:before {
    box-sizing: border-box;
    list-style: none;
    outline: 0;
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


#filemanager-bi {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #d7dcdf;
    color: #373a3c;
    font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
    display: none;
    position: relative;
    overflow: hidden;

    //#filemanager-bi-url-type,
    //#filemanager-bi-cut-folder-id{
    //    display: none;
    //}

    .my-btn-default {
        font-size: 14px;
        background: white;
        border-radius: 4px;
        padding: 8px 6px;
        display: flex;
        width: 100%;
        margin: 10px 0px;
        justify-content: center;
        align-items: center;
        border: 1px solid #d7dcdf;
        -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
        transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        cursor: pointer;

        &:hover {
            background: #F7F8F9;
        }


    }


    .filemanager-bi-effect-box {
        background: #eefde8 !important;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background-color: #cacaca;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #f7f8f9;
        border-radius: 50px;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.51) inset;
    }

    #filemanager-bi-settings {
        position: absolute;
        right: 0;
        width: 275px;
        height: 100%;
        overflow-y: auto;
        border-left: 1px solid #d7dcdf;
        z-index: 3;
        background: #FFFFFF;
        display: none;
        box-shadow: 0px 0px 6px 0px rgba(207, 207, 207, 0.61);

        .filemanager-bi-settings-header {
            height: 41px;
            border-bottom: 1px solid #d7dcdf;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #F7F8F9;

            i {
                font-size: 20px;
                font-weight: 600;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                cursor: pointer;
            }
        }

        .filemanager-bi-settings-body {
            padding: 20px 20px;
            background: #ffffff;

            .filemanager-bi-settings-item {
                display: flex;
                flex-direction: column;

                &:not(:first-child) {
                    margin-top: 22px;
                }

                h4 {
                    margin-bottom: 5px;
                }

                label {
                    cursor: pointer;
                    margin-top: 4px;
                    display: flex;
                    align-items: center;

                    span {
                        position: relative;
                        top: 1px;
                        font-size: 15px;
                    }
                }

                input[type="radio"] {
                    width: 19px;
                    height: 19px;
                    margin-right: 8px;
                    margin-left: 10px;
                }
            }
        }
    }

    .my-row {
        display: flex;
        flex-wrap: wrap;
    }

    .my-col-md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }

    .my-col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }

    .my-col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .my-col-md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    .my-btn {
        display: inline-block;
        font-weight: 400;
        color: #373a3c;
        background: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid #d7dcdf;
        padding: 5px 7px;
        font-size: 13px;
        line-height: 1.5;
        border-radius: 3px;
        -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
        transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
        cursor: pointer;

        span {
            white-space: nowrap;
        }

        &:hover {
            background: #F7F8F9;
        }
    }

    .my-btn-success {
        background: #00C4B4;
        color: #FFFFFF;
        border: 1px solid #ffffff;

        &:hover {
            background: #00d0bf;
        }
    }

    .my-btn-danger {
        background: #DC3545;
        color: #FFFFFF;
        border: 1px solid #ffffff;

        &:hover {
            background: #da4c5b;
        }
    }


    .my-btn-warning {
        background: #FFC107;
        color: #373a3c;
        border: 1px solid #ffffff;

        &:hover {
            background: #ffcb3c;
        }
    }

    .my-bg-success {
        background: #00C4B4;
    }

    .my-bg-danger {
        background: #DC3545;
    }

    .my-bg-warning {
        background: #FFC107;
    }

    .mt-1 {
        margin-top: 0.25rem !important;
    }

    .mt-2 {
        margin-top: 0.5rem !important;
    }

    .mt-3 {
        margin-top: 0.75rem !important;
    }

    .mt-4 {
        margin-top: 1rem !important;
    }

    .mb-1 {
        margin-bottom: 0.25rem !important;
    }

    .mb-2 {
        margin-bottom: 0.5rem !important;
    }

    .mb-3 {
        margin-bottom: 0.75rem !important;
    }

    .mb-4 {
        margin-bottom: 1rem !important;
    }

    .ml-1 {
        margin-left: 0.25rem !important;
    }

    .ml-2 {
        margin-left: 0.5rem !important;
    }

    .ml-3 {
        margin-left: 0.75rem !important;
    }

    .ml-4 {
        margin-left: 1rem !important;
    }

    .mr-1 {
        margin-right: 0.25rem !important;
    }

    .mr-2 {
        margin-right: 0.5rem !important;
    }

    .mr-3 {
        margin-right: 0.75rem !important;
    }

    .mr-4 {
        margin-right: 1rem !important;
    }


    .fm-bi-form-control {
        width: 100%;
        display: block;
        padding: 3px 5px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #3f4254;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e4e6ef;
        border-radius: 4px;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;

        &:focus {
            color: #3f4254;
            background-color: #fff;
            border-color: #69b3ff;
            outline: 0;
        }
    }


    #filemanager-bi-navbar {
        background: #F7F8F9;
        padding: 10px 11px;
        border-bottom: 1px solid #d7dcdf;;


        #left-navbar-item {
            display: flex;
            align-items: center;

            .filemanager-bi-select-navbar-folder-box {
                display: flex;
            }

            .filemanager-bi-select-navbar-file-box {
                display: flex;
            }

            .filemanager-bi-menu-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                cursor: pointer;
                background: transparent;
                width: 30px;
                height: 30px;

                i {
                    font-size: 19px;
                    color: #373a3c;
                }
            }

            div {
                font-size: 14px;
                width: 29px;
                height: 29px;
                margin-left: 8px;
                background: white;
                border-radius: 50%;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #d7dcdf;
                -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                cursor: pointer;

                &:hover {
                    background: #F7F8F9;
                }


            }

            button {
                font-size: 14px;
                width: 29px;
                height: 29px;
                margin-left: 8px;
                background: white;
                border-radius: 50%;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #d7dcdf;
                -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                cursor: pointer;

                &:hover {
                    background: #F7F8F9;
                }
            }
        }

        #right-navbar-item {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            #filemanager-bi-filter-type {
                display: flex;

                div {
                    margin: 0;
                    margin-right: 9px;
                    background: white;
                    border-radius: 50%;
                    padding: 0;
                    padding-right: 1px;
                    display: flex;
                    width: 26px;
                    height: 26px;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #d7dcdf;
                    -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                    transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                    transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
                    transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background: #F7F8F9;
                    }

                    i {
                        font-size: 12px;
                    }
                }
            }


            #filemanager-bi-filter {
                width: 140px;
                height: 29px;
            }

            .filemanager-bi-menu-icon {
                display: flex;
                align-items: center;
                margin-left: 7px;
                cursor: pointer;
                background: transparent;
                width: 30px;
                height: 30px;
                flex: 1;
                position: absolute;
                margin-top: 6px;
                left: 3px;
                justify-content: center;

                i {
                    font-size: 19px;
                    color: #373a3c;
                }
            }

            div {
                margin-left: 8px;
                background: white;
                border-radius: 50%;
                padding: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #d7dcdf;
                -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                cursor: pointer;

                &:hover {
                    background: #F7F8F9;
                }
            }
        }
    }

    #filemanager-bi-breadcrump {
        background: #F7F8F9;
        padding: 4px 17px;
        border-bottom: 1px solid #f1f1f1;
        display: flex;
        align-items: center;
        font-size: 15px;
        flex-wrap: wrap;

        .filemanager-bi-breadcrump-name {
            color: #708ddf;
            margin-right: 6px;
            margin-left: 6px;
            cursor: pointer;
        }

        .filemanager-bi-breadcrump-name-last {
            margin-left: 6px;
        }
    }

    #filemanager-bi-information {
        background: #F7F8F9;
        padding: 10px 17px;
        border-bottom: 1px solid #f1f1f1;
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 15px;
        justify-content: space-between;

        #filemanager-bi-information-left {
            #filemanager-bi-get-home {
                font-size: 14px;
                width: 29px;
                height: 29px;
                background: white;
                border-radius: 50%;
                padding: 7px;
                border: 1px solid #d7dcdf;
                -webkit-transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out;
                transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
                cursor: pointer;

                &:hover {
                    background: #F7F8F9;
                }
            }
        }


        #filemanager-bi-information-folder-name {
            font-weight: 600;
        }
    }


    #filemanager-bi-cut-menu {
        min-width: 275px;
        overflow: auto;
        background: #F7F8F9;

        .filemanager-bi-cut-folder-disable-parent-folder {
            background: rgba(179, 176, 176, 0.56) !important;
            opacity: 0.5;
            border-bottom: 1px solid #b3b3b3 !important;

            &:hover {
                background: #dedede !important;
            }
        }

        #filemanager-bi-left-menu-container {
            background: #F7F8F9;
            display: block;
            z-index: 1;
            height: 100%;
            color: #ddd;
            border-top: 1px solid #d7dcdf;

            #filemanager-bi-left-menu-items {
                cursor: pointer;

                .filemanager-bi-menu-active {
                    border: 2px solid #0a90eb !important;
                    background: #FFFFFF !important;
                    line-height: 1px;
                }

                ul {
                    padding: 0;
                    margin: 0;

                    ul {
                        display: none;
                        background: #efefef;
                    }
                }

                .filemanager-bi-sub-menu-columns-item {
                    display: none;
                    background: #333;
                }

                li {
                    list-style: none;
                    position: relative;

                }

                ul {
                    .filemanager-bi-menu-item-has-children {
                        .filemanager-bi-left-menu-arrows {
                            position: absolute;
                            top: 0;
                            right: 0;
                            padding: 12px;
                            margin: 0;
                            cursor: pointer;
                            display: block;
                            color: #373A3C;
                            text-align: right;

                        }
                    }

                    li {

                        .filemanager-bi-main-menu-item-container {
                            color: #373a3c;
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            padding: 11px;
                            padding-right: 0;
                            border-bottom: 1px solid #d7dcdf;
                            transition: background-color 0.2s ease;

                            &:hover {
                                background: #FFFFFF;
                                transition: background-color 0.2s ease;

                            }

                            .filemanager-bi-main-menu-item-left {
                                margin-right: 26px;
                                font-size: 14px;
                                display: flex;
                                align-items: center;

                                .filemanager-bi-main-menu-item-folder {
                                    color: #ffc929;
                                    margin-right: 5px;
                                    font-size: 15px;
                                }
                            }


                        }


                    }
                }


            }
        }


    }


    #filemanager-bi-container {
        display: flex;


        #filemanager-bi-left-menu {
            min-width: 275px;
            overflow: auto;
            background: #F7F8F9;
            display: none;
            border-right: 1px solid #d7dcdf;

            #filemanager-bi-left-menu-container {
                background: #F7F8F9;
                display: block;
                z-index: 1;
                height: 100%;
                color: #ddd;

                #filemanager-bi-left-menu-items {
                    cursor: pointer;

                    .filemanager-bi-folder-left-menu-active {
                        background: #fafffa !important;
                    }

                    .filemanager-bi-menu-active {
                        border: 2px solid #0a90eb !important;
                        background: #FFFFFF !important;
                    }


                    ul {
                        padding: 0;
                        margin: 0;

                        ul {
                            display: none;
                            background: #efefef;
                        }
                    }

                    .filemanager-bi-sub-menu-columns-item {
                        display: none;
                        background: #333;
                    }

                    li {
                        list-style: none;
                        position: relative;

                    }

                    ul {
                        .filemanager-bi-menu-item-has-children {
                            .filemanager-bi-left-menu-arrows {
                                position: absolute;
                                top: 0;
                                right: 0;
                                padding: 12px;
                                margin: 0;
                                cursor: pointer;
                                display: block;
                                color: #373A3C;
                                text-align: right;

                            }
                        }

                        li {

                            .filemanager-bi-main-menu-item-container {
                                color: #373a3c;
                                display: flex;
                                justify-content: space-between;
                                font-size: 16px;
                                padding: 11px;
                                padding-right: 0;
                                border-bottom: 1px solid #d7dcdf;
                                transition: background-color 0.2s ease;

                                &:hover {
                                    background: #FFFFFF;
                                    transition: background-color 0.2s ease;

                                }

                                .filemanager-bi-main-menu-item-left {
                                    margin-right: 26px;
                                    font-size: 14px;
                                    display: flex;
                                    align-items: center;

                                    .filemanager-bi-main-menu-item-folder {
                                        color: #ffc929;
                                        margin-right: 5px;
                                        font-size: 15px;
                                    }
                                }


                            }


                        }
                    }


                }
            }


        }


        #filemanager-bi-content {
            width: 100%;
            background: #ffffff;

            #filemanager-bi-content-item {
                width: 100%;
                overflow: auto;
                background: #ffffff;
                padding: 25px;

                #filemanager-bi-content-container {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, 155px);
                    justify-content: space-evenly;
                    grid-gap: 20px;
                    align-content: start;

                    .filemanager-bi-draggable-folders-container {
                        width: 100px;
                        z-index: 6;

                        .filemanager-bi-draggable-folders {
                            width: 100px;
                            background: #F7F8F9;
                            border-radius: 3px;
                            border: 1px solid #eaeaea;
                            position: relative;

                            &:before {
                                width: 100%;
                                height: 100%;
                                top: 0;
                                background: white;
                                z-index: -1;
                                border-radius: 3px;
                                border: 1px solid #eaeaea;
                                position: absolute;
                                content: '';
                                transform: rotate(-8deg);
                                -webkit-transform: rotate(-8deg);
                            }

                            &:after {
                                width: 100%;
                                height: 100%;
                                top: 0;
                                background: white;
                                z-index: -2;
                                border-radius: 3px;
                                border: 1px solid #eaeaea;
                                position: absolute;
                                content: '';
                                transform: rotate(-13deg);
                                -webkit-transform: rotate(-13deg);
                            }


                            .filemanager-bi-draggable-folders-image {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                border: 5px solid #FFFFFF;
                                border-radius: 3px;
                                background: #F7F8F9;
                                padding: 5px;

                                img {
                                    width: 60px;
                                }
                            }

                            .filemanager-bi-draggable-folders-count {
                                position: absolute;
                                top: -9px;
                                left: -9px;
                                width: 24px;
                                height: 24px;
                                background: #ff0000;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #FFFFFF;
                                font-weight: 600;
                                font-size: 13px;
                            }

                        }
                    }

                    .filemanager-bi-draggable-folder {
                        width: 88px;
                        height: 91px;
                        display: flex;
                        flex-direction: column;
                        background: #F7F8F9;
                        transform: rotate(337deg);
                        -webkit-transform: rotate(337deg);
                        z-index: 3;
                        border: 1px solid #eaeaea;
                        border-radius: 3px;


                        .filemanager-bi-draggable-folder-image {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 70px;

                            img {
                                width: 60px;
                            }
                        }

                        .filemanager-bi-draggable-folder-name {
                            background: #FFFFFF;
                            height: 30px;
                            border-top: 1px solid #eaeaea;
                            font-size: 12px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                        }
                    }


                    .filemanager-bi-content-item-box {
                        width: 155px;
                        height: 150px;
                        background: #F7F8F9;
                        border: 1px solid #dfe4e6;
                        border-radius: 3px;
                        display: inline-block;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        border: 3px solid #FFFFFF;

                        &:hover {
                            .filemanager-bi-content-item-info {
                                transform: translateY(-33px);
                                transition: 0.3s all;
                                border-radius: 0;
                            }
                        }

                        &:last-child {
                            margin-bottom: 30px;
                        }

                        .filemanager-bi-select-file {
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            background: white;
                            top: 4px;
                            left: 4px;
                            border-radius: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #dedede;

                            i {
                                color: #0A90EB;
                            }
                        }


                        .filemanager-bi-content-item-image {
                            width: 149px;
                            height: 110px;
                            border-top: 1px solid #eaeaea;
                            border-left: 1px solid #eaeaea;
                            border-right: 1px solid #eaeaea;

                            img {
                                width: 153px;
                                height: 111px;
                                object-fit: cover;
                                border-radius: 2px 2px 0 0;
                            }

                            .photoswipe-item {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 113px;

                                .photoswipe-item-files {
                                    object-fit: contain;
                                    width: 60px;
                                }
                            }
                        }

                        .filemanager-bi-content-item-info {
                            background: #ffffff;
                            height: 34px;
                            width: 149px;
                            overflow: hidden;
                            padding: 6px;
                            line-height: 18px;
                            font-size: 13px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            border-radius: 0 0 2px 2px;
                            border: 1px solid #eaeaea;
                            transition: 0.3s all;
                            position: relative;
                            z-index: 2;
                            text-align: center;
                            line-height: 21px;
                        }


                        .filemanager-bi-content-item-tools {
                            background: white;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            z-index: 1;
                            height: 33px;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            padding: 0 10px;
                            border-bottom: 1px solid #eaeaea;
                            border-left: 1px solid #eaeaea;
                            border-right: 1px solid #eaeaea;
                            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.08) inset;

                            i {
                                background: transparent;
                                width: 25px;
                                height: 25px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: color 0.3s ease;

                                &:hover {
                                    color: #0A90EB;
                                    transition: color 0.3s ease;
                                }
                            }
                        }

                    }


                    .filemanager-bi-content-item-folder-box {
                        width: 155px;
                        height: 150px;
                        background: #F7F8F9;
                        border: 1px solid #dfe4e6;
                        border-radius: 3px;
                        display: inline-block;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        border: 3px solid #FFFFFF;

                        &:hover {
                            .filemanager-bi-content-item-folder-name {
                                transform: translateY(-33px);
                                transition: 0.3s all;
                                border-radius: 0;
                            }
                        }

                        &:last-child {
                            margin-bottom: 30px;
                        }


                        .filemanager-bi-context-menu {
                            position: fixed;
                            background: #ffffff;
                            padding: 5px;
                            width: 170px;
                            z-index: 3;
                            border: 1px solid #cccccc;
                            border-radius: 3px;
                            box-shadow: 0px 5px 5px 0px #d0d0d0;
                            display: none;

                            .filemanager-bi-context-menu-item {
                                padding: 5px 0px;
                                cursor: text;

                                ul {
                                    margin: 0;
                                    padding: 0;

                                    li {
                                        cursor: pointer;
                                        border: 1px solid transparent;
                                        border-radius: 1px;
                                        padding: 3px 3px;
                                        font-size: 15px;
                                        transition: background-color 0.3s ease;
                                        display: flex;
                                        align-items: center;


                                        &:hover {
                                            background-color: #ececec;
                                            border: 1px solid #e6e6e6;
                                            border-radius: 1px;
                                            padding: 3px 3px;
                                            font-size: 15px;
                                            display: flex;
                                            align-items: center;
                                            transition: background-color 0.3s ease;
                                        }

                                        i {
                                            width: 20px;
                                            height: 20px;
                                            margin-right: 2px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            color: #2b618e;
                                        }
                                    }
                                }

                            }

                            .filemanager-bi-context-menu-properties {
                                border-top: 1px solid #e6e6e6;
                                padding: 5px 3px;
                                cursor: text;

                                .filemanager-bi-context-menu-properties-name {
                                    text-align: center;
                                    padding-bottom: 6px;
                                    font-weight: 600;
                                }

                                div {
                                    font-size: 14px;

                                    div {
                                        display: flex;
                                        align-items: center;
                                        padding: 1px 0px;

                                        i {
                                            width: 20px;
                                            height: 20px;
                                            margin-right: 2px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            color: #2b618e;
                                        }
                                    }
                                }
                            }


                        }


                        .filemanager-bi-select-folder {
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            background: white;
                            top: 4px;
                            left: 4px;
                            border-radius: 3px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #dedede;

                            i {
                                color: #0A90EB;
                            }
                        }


                        .filemanager-bi-content-item-folder-image {
                            width: 149px;
                            height: 110px;
                            border-top: 1px solid #eaeaea;
                            border-left: 1px solid #eaeaea;
                            border-right: 1px solid #eaeaea;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            img {
                                width: 88px;
                                height: 88px;
                            }


                        }


                        .filemanager-bi-content-item-folder-info-mobile {
                            display: none;
                        }

                        .filemanager-bi-content-item-folder-name {
                            background: #ffffff;
                            height: 34px;
                            width: 149px;
                            overflow: hidden;
                            padding: 6px;
                            line-height: 18px;
                            font-size: 13px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            border-radius: 0 0 2px 2px;
                            border: 1px solid #eaeaea;
                            transition: 0.3s all;
                            position: relative;
                            z-index: 2;
                            text-align: center;
                            line-height: 21px;

                        }


                        .filemanager-bi-content-item-folder-tools {
                            background: white;
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            z-index: 1;
                            height: 33px;
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            padding: 0 10px;
                            border-bottom: 1px solid #eaeaea;
                            border-left: 1px solid #eaeaea;
                            border-right: 1px solid #eaeaea;
                            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.08) inset;

                            i {
                                background: transparent;
                                width: 25px;
                                height: 25px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: color 0.3s ease;

                                &:hover {
                                    color: #0A90EB;
                                    transition: color 0.3s ease;
                                }
                            }
                        }

                    }

                    .filemanager-bi-content-item-folder-back-box {
                        width: 155px;
                        height: 150px;
                        background: #F7F8F9;
                        border: 1px solid #dfe4e6;
                        border-radius: 3px;
                        display: inline-block;
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        border: 3px solid #FFFFFF;


                        &:last-child {
                            margin-bottom: 30px;
                        }


                        .filemanager-bi-content-item-folder-back-image {
                            width: 149px;
                            height: 110px;
                            border-top: 1px solid #eaeaea;
                            border-left: 1px solid #eaeaea;
                            border-right: 1px solid #eaeaea;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            i {
                                font-size: 60px;
                                color: #909090;
                            }
                        }

                        .filemanager-bi-content-item-folder-back-name {
                            background: #ffffff;
                            height: 34px;
                            width: 149px;
                            overflow: hidden;
                            padding: 6px;
                            line-height: 18px;
                            font-size: 13px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            border-radius: 0 0 2px 2px;
                            border: 1px solid #eaeaea;
                            transition: 0.3s all;
                            position: relative;
                            z-index: 2;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }


                    }

                    .filemanager-bi-content-item-folder-not-box {
                        width: 155px;
                        height: 150px;
                        background: #F7F8F9;
                        border: 1px solid #eaeaea !important;
                        border-radius: 3px;
                        display: inline-block;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        color: #909090;


                    }


                    .filemanager-bi-content-item-footer {
                        height: 33px;
                        width: 100%;
                        justify-content: center;
                        display: flex;
                        font-size: 17px;
                        font-weight: 600;
                        text-transform: uppercase;
                        grid-column: 1 / -1;
                    }


                }
            }
        }
    }

}


/*   MODAL START   */

.filemanager-bi-modal-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.36);
    transition: all 0.1s ease-in-out;

    .modalOverlayClass {
        display: none;
    }

    .filemanager-bi-error {
        color: red;
        padding: 0 2px;
        display: none;
    }

    label {
        color: #656565;
        padding: 0 2px;
    }
}

.filemanager-bi-modal-lg {
    width: 768px;
    margin: 10px;
}

.filemanager-bi-modal-md {
    width: 500px;
    margin: 10px;
}

.filemanager-bi-modal-sm {
    width: 300px;
    margin: 10px;
}

.filemanager-bi-modal-overlay.visible {
    z-index: 999;
    opacity: 1;
    visibility: visible;
}

.filemanager-bi-modal-container {
    background: #FFFFFF;
    position: relative;

    .filemanager-bi-modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d7dcdf;
        background: #F7F8F9;
        padding: 5px;
        box-sizing: border-box;

        .headerClose {
            margin: 0px;
            cursor: pointer;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            transition: color 0.2s ease-in-out;

            .fas {
                &:hover {
                    color: #707070;
                    transition: color 0.2s ease-in-out;
                }
            }
        }

        h4 {
            margin: 0;
            padding: 0;
        }

    }

    .filemanager-bi-modal-body {
        padding: 20px;

        #filemanager-bi-warning-menu-folder {
            display: none;

            div {
                font-size: 14px;
                font-weight: 600;
                background: #fff9e9;
                padding: 10px;
                text-align: center;
                border-radius: 4px;
            }
        }

        #filemanager-bi-info-cut-folder {
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            border-radius: 4px;

            .filemanager-bi-success-msg {
                background: rgba(0, 201, 0, 0.08);
                padding: 10px;
                margin-bottom: 12px;
            }

            .filemanager-bi-error-msg {
                background: rgba(255, 0, 0, 0.12);
                padding: 10px;

                b {
                    color: #ff0000;
                }
            }

            .filemanager-bi-warning-msg {
                background: #fff9e9;
                padding: 10px;
                margin: 12px 0;

            }

            .filemanager-bi-default-msg {
                background: #ffffff;
                margin: 4px 0;
                text-align: left;
                padding: 4px;

                &:not(:last-child) {
                    border-bottom: 1px solid #e2e2e2;
                }
            }


        }

        #filemanager-bi-warning-menu-folder-draggable {
            display: none;

            div {
                font-size: 14px;
                font-weight: 600;
                background: #fff9e9;
                padding: 10px;
                text-align: center;
                border-radius: 4px;
            }
        }

        #filemanager-bi-info-cut-folder-draggable {
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            border-radius: 4px;

            .filemanager-bi-success-msg {
                background: rgba(0, 201, 0, 0.08);
                padding: 10px;
                margin-bottom: 12px;
            }

            .filemanager-bi-error-msg {
                background: rgba(255, 0, 0, 0.12);
                padding: 10px;

                b {
                    color: #ff0000;
                }
            }

            .filemanager-bi-warning-msg {
                background: #fff9e9;
                padding: 10px;
                margin: 12px 0;

            }

            .filemanager-bi-default-msg {
                background: #ffffff;
                margin: 4px 0;
                text-align: left;
                padding: 4px;

                &:not(:last-child) {
                    border-bottom: 1px solid #e2e2e2;
                }
            }


        }

    }

    .filemanager-bi-modal-footer {
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: flex-end;
        width: 100%;
        border-top: 1px solid #d7dcdf;
        background: #F7F8F9;
        padding: 5px;
        box-sizing: border-box;

        button {
            margin: 5px;
        }

        #filemanager-bi-modal-back-cut-folder {
            display: none;
        }
    }

}

/*   MODAL END   */


.select-file-active {
    border: 3px solid #00b6fd !important;
}

.select-folder-active {
    border: 3px solid #00b6fd !important;
}

.select-folder-context-active {
    border: 3px solid #00b6fd !important;
}


/*   DROPZONE UPLOAD FILE START   */
.filemanager-bi-dropzone {
    margin: 20px auto;
    background: #fff;
    border: 1px solid #ddd;
    max-height: 512px;
    overflow: auto;

    .filemanager-bi-dropzone-form {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &.active {
            background-color: rgba(0, 128, 0, 0.15);

            p {
                color: green;
            }
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }

        p {
            font-size: 15px;
            color: #999;
        }
    }

    .filemanager-bi-dropzone-result-text {
        border-top: 1px solid #ddd;
        padding: 15px;
        text-align: center;
        font-size: 14px;
        background: rgba(0, 98, 255, 0.149);
        color: rgba(0, 98, 255, 1);

        &:empty {
            display: none;
        }

        &.success {
            background: rgba(0, 128, 0, 0.149);
            color: green;
        }
    }

    .filemanager-bi-dropzone-result {
        border-top: 1px solid #ddd;

        &:empty {
            display: none;
        }

        .file {
            display: flex;
            align-items: center;
            padding: 15px 15px 15px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #eee;
            }

            .icon {
                width: 50px;
                text-align: center;

                img {
                    max-width: 60%;
                }
            }

            .file-inner {
                flex: 1;
                overflow: hidden;
                width: 0;

                .title {
                    font-size: 14px;
                    color: #444;
                }

                .bar {
                    height: 6px;
                    border-radius: 6px;
                    background: #ddd;
                    margin-top: 7px;

                    span {
                        height: 6px;
                        display: block;
                        border-radius: 6px;
                        background: rebeccapurple
                    }
                }

                .error-text {
                    font-size: 12px;
                    color: red;
                    padding-top: 3px;
                    display: none;
                }

                .abort-btn {
                    margin-top: 7px;
                    background: transparent;
                    cursor: pointer;
                    color: darkred;
                    text-decoration: underline;
                    font-size: 12px;
                }
            }

            &.error {
                background-color: rgba(255, 0, 0, 0.162);

                .file-inner .error-text {
                    display: block
                }
            }

            &.success, &.error, &.current, &.aborted {
                .file-inner .abort-btn {
                    display: none;
                }
            }

            &.aborted {
                background-color: rgba(255, 166, 0, 0.135);
            }
        }
    }
}

/*   DROPZONE UPLOAD FILE END   */




