@media (max-width: 767px) {
    #filemanager-bi .my-col-md-10 {
        flex: 0 0 auto;
        width: 100%;
    }

    #filemanager-bi .my-col-md-2 {
        flex: 0 0 auto;
        width: 100%;
    }

    #filemanager-bi #filemanager-bi-navbar #left-navbar-item .filemanager-bi-menu-icon {
        display: none;
    }

    #filemanager-bi #filemanager-bi-navbar #left-navbar-item {
        display: flex;
        height: 41px;
        align-items: center;
        border-bottom: 1px solid #e8e8e8;
    }

    #filemanager-bi #filemanager-bi-navbar #right-navbar-item {
        height: 34px;
    }

    #filemanager-bi #filemanager-bi-navbar #right-navbar-item #filemanager-bi-filter {
        top: 2px;
        position: relative;
    }

    #filemanager-bi #filemanager-bi-navbar #right-navbar-item div {
        position: relative;
        top: 3px;
    }
}

@media (min-width: 767px) {


    #filemanager-bi #filemanager-bi-navbar #right-navbar-item .filemanager-bi-menu-icon {
        display: none;
    }
}

@media (min-width: 441px) {
    .fm-photoswipe-item-mobile {
        display: none;
    }
}

@media (max-width: 440px) {
    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container {
        grid-template-columns: repeat(auto-fill, 100%);
    }

    /*   FILES START   */

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box {
        width: 100%;
        height: 116px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box .filemanager-bi-content-item-info {
        display: none;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box .filemanager-bi-content-item-image {
        width: 100%;
        height: 80px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box .filemanager-bi-content-item-image img {
        width: 80px;
        height: 80px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box .filemanager-bi-content-item-image .photoswipe-item {
        height: 82px;
        display: flex;
        justify-content: flex-start;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box .filemanager-bi-content-item-image .photoswipe-item a {
        width: 100%;
        height: 82px;
        display: flex;
        justify-content: flex-start;
        color: #373A3C;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box .filemanager-bi-content-item-image .photoswipe-item .photoswipe-item-files {
        width: 34px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box .filemanager-bi-select-file {
        width: 20px;
        height: 20px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-box .filemanager-bi-content-item-tools {
        height: 30px;
        box-shadow: 0px 0px 0px 0px rgba(128, 128, 128, 0);
    }

    .fm-photoswipe-item-mobile {
        display: flex;
        width: 73%;
        min-width: 70px;
        height: 84px;
        flex-direction: column;
        padding: 5px;
    }

    .fm-photoswipe-item-mobile div:nth-child(1) {
        font-size: 14px;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .fm-photoswipe-item-mobile div:nth-child(2) {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    .fm-photoswipe-item-mobile div:nth-child(3) {
        font-size: 12px;
    }


    .photoswipe-item-files-container {
        width: 80px;
        height: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photoswipe-item-files-container {
        width: 80px;
        height: 82px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #efefef;
    }


    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item {
        padding: 15px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container {
        grid-gap: 10px;
    }

    /*   FILES END   */

    /*   FOLDER START   */

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box {
        width: 100%;
        height: 116px;
        display: flex;
    }



    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box .filemanager-bi-content-item-folder-name {
        display: none;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box .filemanager-bi-content-item-folder-image {
        width: 80px;
        height: 80px;
        min-width: 80px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box .filemanager-bi-content-item-folder-image img {
        width: 50px;
        height: 50px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box  .filemanager-bi-content-item-folder-info-mobile{
        display: flex;
        width: 73%;
        min-width: 70px;
        height: 84px;
        flex-direction: column;
        padding: 5px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box  .filemanager-bi-content-item-folder-info-mobile div:nth-child(1){
        font-size: 14px;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }


    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box  .filemanager-bi-content-item-folder-info-mobile div:nth-child(2){
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 2px;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box  .filemanager-bi-content-item-folder-info-mobile div:nth-child(3){
        font-size: 12px;
    }


    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box {
        border: 1px solid #dfe4e6 !important;
    }

    #filemanager-bi #filemanager-bi-container #filemanager-bi-content #filemanager-bi-content-item #filemanager-bi-content-container .filemanager-bi-content-item-folder-box .filemanager-bi-content-item-folder-image {
         border-top: 1px solid transparent;
         border-left: 1px solid transparent;
        border-right: 1px solid #eaeaea;
    }


    /*   FOLDER END   */
}
